body {
    width: 100%;
    position: relative;
    float: left;
    margin: 0;
    background-color: #F5F5F5;
    font-size: 62.5%;
    font-family:"Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    text-align: center;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #6E6E6E;
}
.body {
    font-family: arial, sans-serif;
    width: 80%;
    min-width: 800px;
    position: relative;
    height: 100%;
    margin-left: 10%;
    text-align: center;
}
.body * {
    position: relative;
    float: left;
}
.title {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 14pt;
}
.title .chapter {
    width: 100%;
    text-align: center;
}
/*显示当前使用哪个用户进行操作*/
.title .user {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}
.title .user span{
    width: 60px;
}
.title .user select{
    margin-left: 10px;
    width: 100px;
}
.title .user #userInfo span{
    width: 30px;
}
.title .user #userInfo div{
    margin-left: 5px;
}

.button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}
#save {
    position: relative;
    float: right;
    margin: 10px 0;
}
.comments {
    width: 100%;
    left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.comment {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.index {
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
}
.index * {
    font-size: 13px;
}
.index .user {
    width: 100px;
    padding: 0 5px;
}
.index .time {
    width: 150px;
    font-size: 13px;
    padding-left: 20px;
}
.index .floor {
    width: 50px;
    float: right;
    text-align: right;
    margin-right: 100px;
}
.index .forbid {
    width: 50px;
    float: right;
    margin-right: 250px;
    text-align: center;
}
.warn {
    color: red;
}
.content {
    font-size: 12px;
    width: 80%;
    margin: 5px;
    padding: 5px;
    left: 10px;
}
.edit {
    float: right;
}
#loadmsg {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    display: none;
}
.loadbt {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    margin-bottom: 100px;
}
.loadbt div {
    padding: 5px 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
/*dialog 表单*/
.form {
    position: relative;
    float: left;
    width: 100%;
}
.form .input {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.form .input * {
    position: relative;
    float: left;
}
.form .input .desc {
    position: relative;
    float: left;
    width: 70px;
    font-size: 14px;
}
.contentEdit {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin:0;
    padding: 4px 6px 4px;
    text-align: left;
    font-size: 13px;
    font-family: arial, sans-serif;
}
.form .input input[class="contentEdit"]{
    width: 150px;
    min-height: 20px;
}
.form .input textarea{
    resize:none;
    width: 400px;
    min-height: 100px;
}


#updateUserName, #updateTime, #updateFloor {
    position: relative;
    float: left;
    width: 150px;
    min-height: 20px;
    margin-top: -5px;
}
#updateContent {
    position: relative;
    float: left;
    width: 400px;
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.form .input .remark {
    margin-left: 10px;
}
